/* Nunito font for all text */
body{
  background-image: url(testing.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  font-family: 'Nunito', sans-serif;
  margin: none;
}
p{
  font-family: 'Nunito', sans-serif;
}

div{
  font-family: 'Nunito', sans-serif;
}

a{
  font-family: 'Nunito', sans-serif;
}

q{
  font-family: 'Nunito', sans-serif;
}

#pomLogo{
  float: left;
  height: 70px;
  width: 70px;
  display: inline-block;
  text-align: center;
  background-color: transparent;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  border: 0px 0px 0px 0px;

}

#pomTitle{
  padding: 0px 0px 0px 0px;
  padding-top: 5px;
  text-align: left;
  border: 0px 0px 0px 0px;
  font-size: 45px;
  font-family: 'Sofia', cursive;
  height:80px;
  width: 400px;
  margin-top:10px;
  opacity:1;
}

#title{
  padding: 0px 0px 0px 0px;
  text-align: inherit;
  font-family: 'Sofia', cursive;
  font-size: 40px;
  color: white;
  margin: none;
  background-color: transparent;
  opacity:1;
}

#bar{
  float:right;
  text-align: inherit;
  height: 52px;
  vertical-align: top;


  /* margin-left: 2px;
  margin-right: 2px; */
}
/* background for every page */
body{
  /* background-image: url(background.jpeg); */

background-color:#e2fde2;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
}

.currentTab{
  background-color:#81B89A;
  color:#81B89A;
  border-radius: 12px;
}


.navbar_ul {
  list-style-type: none;
  margin: 10px;
  padding: 0;
  overflow: hidden;
  background-color: darkgray;
}

.navbar_li {
  float: left;
  /* width: 67%; */
}

.navbar_li a {
  display: block;
  color: darkgray;
  text-align: center;
  padding: 0px;
  padding: 14px 16px;
  text-decoration: none;
}

/* for daily news button */
.navbar_li a:hover {
  background-color: #f2f2f2;
  /* max-height: 52px; */
}

.tab {
  text-indent:30px;
}

body {
  font-family: 'Nunito', sans-serif;
}

.navbar{
  overflow: hidden;
  /* taskbar background: light sage */
  background-color:
   #A5D1AF;
  /* #99CC9C; */
  /* #A6DEAA; */
  height: auto;
  width: 100%;
  /* text-align: justify; */
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;

  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: center;
  display:block;
  /* overflow: hidden; */
  overflow: visible;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  /* dark sage */
  background-color: #81B89A;
  /* 89C4A5; */
  border-radius: 12px;
  text-decoration: none;
  opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  max-height: 40px;
  border-radius: 0px;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background-color:white;
  text-align: left;
  border-radius: 0px;
}

.dropdown-content a:hover {
  background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* back to top button */
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 40px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #A5D1AF; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: #81B89A; /* Add a dark-grey background on hover */
}
