body{
  font-family: 'Nunito', sans-serif;
}
p{
  font-family: 'Nunito', sans-serif;
}

div{
  font-family: 'Nunito', sans-serif;
}

a{
  font-family: 'Nunito', sans-serif;
}

q{
  font-family: 'Nunito', sans-serif;
}
h1{
  font-family: 'Nunito', sans-serif;
}

h2{
  font-family: 'Nunito', sans-serif;
}
