

.box_background {
  background-color: #008080
}

.titles {
  font-size: 30px;
  margin-left: 26px;
}

.sub_titles {
  font-size: 20px;
  padding: 5px;
}

#contact {
  font-size: 15px;
}

.spacing_btwn_resources {
  padding: 5px
}

.spacing_btwn_dif_resources {
  padding: 10px
}

#link_visited_color a:visited{
  color: #00e6e6
}

.link_color a:link{
  color: #bfff80
}

 /* .link_color */

/* .bullet_point {
  list-style-type: circle;
} */

.ac-container{
	width: 700px;
	margin: 10px auto 30px auto;
}
.ac-container label{
	font-family: 'Nunito', 'Arial Narrow', Arial, sans-serif;
	padding: 5px 5px;
	position: relative;
	z-index: 20;
	display: block;
	height: 30px;
	cursor: pointer;
	color: #777;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
	line-height: 33px;
	font-size: 20px;
	/* background: linear-gradient(top, #ffffff 1%,#eaeaea 100%); */
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		1px 0px 0px 0px rgba(255,255,255,0.9) inset,
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container input:checked + label,
.ac-container input:checked + label:hover{
	background: #b8dcf2;
	color: #3b4d8c;
	text-shadow: 0px 1px 1px rgba(255,255,255, 0.6);
	box-shadow:
		0px 0px 0px 1px rgba(155,155,155,0.3),
		0px 2px 2px rgba(0,0,0,0.1);
}
.ac-container label:hover:after,
.ac-container input:checked + label:hover:after{
	content: '';
	position: absolute;
	width: 24px;
	height: 24px;
	right: 13px;
	top: 7px;

	background: transparent no-repeat center center;
}
.ac-container input:checked + label:hover:after{
	background-image: url(../images/arrow_up.png);
}
.ac-container input{
	display: none;
}
.ac-container article{
	background: rgba(255, 255, 255, 0.5);
	margin-top: -1px;
	overflow: hidden;
	height: 0px;
	position: relative;
	z-index: 10;
	transition:
		height 0.3s ease-in-out,
		box-shadow 0.6s linear;
}
.ac-container input:checked ~ article{
	transition:
		height 0.5s ease-in-out,
		box-shadow 0.1s linear;
	box-shadow: 0px 0px 0px 1px rgba(155,155,155,0.3);
}
.ac-container article p{
	font-style: normal;
	color: #777;
	line-height: 23px;
	font-size: 16px;
	padding: 10px;
	text-shadow: 1px 1px 1px rgba(255,255,255,0.8);
}
.ac-container input:checked ~ article.ac-small{
	height: 80px;
}
.ac-container input:checked ~ article.ac-medium{
	height: 180px;
}
.ac-container input:checked ~ article.ac-large{
	height: 230px;
}
